<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main_page.css">
		<title>GREEN SILK ROAD</title>
	<link rel="icon" type="image/jpg" href="https://www.freeiconspng.com/uploads/letter-t-icon-png-5.png">

<div class="header">
  <h1 class="name">GREEN SILK ROAD</h1>
</div>
  <div id="br_tab">
    <pre>
	
    </pre>
</div>
<div class="ABOUT_data">
	<h1>About</h1>
<p>
Whether you are a traveller planning to take part in a Green Silk Road journey, or you are a social organisation ready to host a group, this page is here to help you.
The Green Silk Road aims to connect people and projects that share a concern for the environment and want to develop a different way of life.
<br>
<c>
By hosting a group you will benefit from the skills and experience that travellers bring, as well as connections with other host organisations along the route.
As traveller you will be hosted at inspiring spaces, experience real life social change and see the world from a new perspective.
While this site aims to make the process of traveller-host connection more smooth, experience shows that even the best plans fail and there is no such thing as a perfect match.
<br>
<c>
We invite you to use the information on this page to improve your planning and coordination, but nothing beats a personal face to face conversation!
As this is a work in progress, please add your exprience and feedback so we can keep improving and build the best Green Silk Road possible.
</p>
</div>
<br>
<div class="join_data">
	<h1>JOIN NOW!</h1>
	<h2>As Traveler <a href="/process_form">Click here!</a>
	<h3>As Host <a href="/process_form2">Click here!</a>
</div>
</div>
</body>
</html>