    body {
	/*font-family: Arial, Helvetica, sans-serif;*/
 	background-image:url("https://cdn.glitch.com/fde7c508-763b-4a1d-83ed-d4a294ac2ec7%2Fcold-daylight-desktop-backgrounds-1287145.jpg?v=1560688689944"); 
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;}
.center_div{
	width: 50%;
	height: 120px;
	margin: auto;
	display: flex;
	justify-content: center;
}
.img{
	height: 120px;
	width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.text{
	/*background-color: #262626;*/
	box-shadow: 0 5px 10px 0 rgba(1.4, 1, 1, 1.4);
	margin: 2% 17% 0% 17%;
	padding: 20px;
	text-align: center;
	font-size: 13px;
	border-radius: 20px;
	color: white;
	opacity: .7;
}
.button{	
  background-color: #cc0000;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 26px;
  margin: 55px;
  border-radius: 5px;
}
h2{
	color: black;
}
@media only screen and (max-width: 1000px){
	.submit_name{
		margin: 90px;
	}
	.text{
	margin: 2% 7% 0% 7.1%;
	font-size: 14px;
	border-radius: 20px;
	color: white;
	}
	.button{	
	  background-color: #cc0000;
	  margin: 90px;
	}
}