<!DOCTYPE html>
<html>
<head>
	<title>Thanku</title>
	<link rel="stylesheet" type="text/css" href="submit.css">

	<div class="submit_name">
	<center><h1>Submit Successfluly</h1></center>
	</div>
	<div class="center_div">
		<img src="https://cdn.glitch.com/fde7c508-763b-4a1d-83ed-d4a294ac2ec7%2Fthumbnails%2Fclassica_thumbs-up-hand-and-fingers_flat-circle-white-on-ios-pink-gradient_512x512.png?1564030812227" class="img">
	</div>
	<div class="text">
	<pre><h2>
   Thanks you for sharing your information!<br>
You will receive an automatic email with a compy of your data.<br>
If you have any questions please feel free to contact us at...
	</h2></pre>
</div>
	<center><div class="button"><b>thegreensilkroad@gmail.com</b></div></center>
</body>	
</html>